<!doctype html>
<html class="no-js h-100" lang="" data-bs-theme="dark">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <title>Admin</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link
            rel="icon"
            type="image/png"
            href="<%- basePath %>/img/favicon.png"
        />
    </head>
    <body class="d-flex flex-column h-100">
        <div id="app"></div>
        <script src="<%- basePath %>/env.js"></script>
        <script src="<%- basePath %>/settings.js"></script>
    </body>
</html>
