html,
body {
    height: 100%;
}
body {
    overflow-x: hidden;
}

@media (min-width: 1200px) {
    .container {
        width: 100%;
        max-width: 1440px;
    }
}

.navbar.sticky-top {
    margin-bottom: 2em;
}

.navbar .divider-vertical {
    height: 50px;
    margin: 0 9px;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #f2f2f2;
}

.navbar-inverse .divider-vertical {
    border-right-color: #333;
    border-left-color: #222;
}

@media (max-width: 767px) {
    .navbar-collapse .nav > .divider-vertical {
        display: none;
    }
}

.form-inline label,
.form-inline input {
    margin: 0 10px 0 0;
}
.nav-pills {
    border: 1px solid #ccc;
    border-radius: 5px;
}
.nav-pills > li > a {
    padding: 2px 15px;
    border-radius: 0;
}

.tag-list-vertical {
    max-height: 700px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1em;
    .nav-pills {
        border: 0;
    }
}

.tab-panel {
    display: none;
}
.tab-panel-visible {
    display: block;
}
.well-tag {
    border-radius: 0 !important;
}
.badge {
    background: #aaa;
}
.nav-pills .notags {
    color: #ff0011;
    &.active {
        background: #ff0011;
        color: #fff;
    }
}

.nav-stacked a {
    color: #333;
}
.label-inactive {
    background: #aaa;
}
tr.race-empty td.race-rlsname,
tr.expired td.rlsname {
    color: #aaa;
}
.form-group {
    overflow: hidden;
}
#form_expires select {
    margin-right: 0.5em;
}
#form_expires_time_minute {
    margin-left: 0.5em !important;
}
#form_expires_date_year {
    margin-right: 2em !important;
}

#help {
    position: fixed;
    padding: 70px 1.5em 30px;
    z-index: 2;
    right: 0;
    top: 0;
    width: 30%;
    height: 100%;
    background: #444;
    border-left: 1px solid #ccc;
    color: #efefef;
    overflow-y: scroll;
    right: -30%;
    transition: right 0.1s ease-in-out;
    border-left: 7px solid #ccc;
    max-width: 600px;
}
#help.visible {
    right: 0;
}

#help .close {
    float: right;
    color: #fff;
}

#help-content {
    display: none;
}

#help {
    table {
        border-collapse: collapse;
        font-size: 12px;
        margin: 1em 0;
    }
    td {
        border: 1px solid #666;
        padding: 4px;
    }
}

#help code {
    word-wrap: break-word;
}

.row.is-flex {
    display: flex;
    flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

textarea.code,
input.code {
    font-family: Monospace;
    background: #222;
    color: #fff;
    &:focus {
        background: #222;
        color: #fff;
    }
}

.btn-group-xs > .btn,
.btn-xs {
    padding: 0.25rem 0.4rem;
    font-size: 0.875rem;
    line-height: 0.5;
    border-radius: 0.2rem;
}

input.form-control-code {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
        'Courier New', monospace;
    font-size: 90%;
}

.hbd {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
    padding-bottom: 1em;

    &:after {
        content: '';
        margin-top: 1em;
        display: block;
        width: 100%;
        height: 1px;
        background: var(--bs-body-color);
        opacity: 0.25;
    }

    .heading,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        flex: 1;
        //@include font-size($h3-font-size);
        margin: 0;
    }

    .controls {
    }

    .description {
        width: 100%;
        margin-top: 1em;
        margin-bottom: 0;
    }

    @media (max-width: 768px) {
        display: block;
    }
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
}

/* bootstrap removed */
.btn-block {
    display: block;
}

#race-list {
    .tag {
        margin-left: 2px;
        color: #fff;
        display: block;
        text-decoration: none;
        &:hover {
            color: #fff;
            filter: brightness(1.25);
        }
    }
    .timing {
        margin-bottom: 2px;
    }
    .race-rlsname {
        position: relative;
    }
    .dupe-count {
        position: absolute;
        right: 0;
        top: 0;
    }
}

.Toastify__toast-body {
    word-break: break-all;
}

.race-indicator {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    bottom: 0;
    width: 3px;
}
